# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.venv/
venv/
ENV/

# Build/Dist
build/
dist/
*.egg-info/
dist/

# Logs
*.log
models/
runs/
logs/

# IDE
.idea/
.vscode/
.spyderproject

# OS
.DS_Store
Thumbs.db

# Node
node_modules/
dashboard/node_modules/

# Env
.env
.env.local